.grid-33
        .app--section
            ul.app--message--list
                li
                    each conversation in ifData.conversations
                        h3
                            | Conversation with 
                            - for(var i = 0; i < conversation.length; i++)
                                if conversation[i].name != ifData.userInfo.name
                                    a= conversation[i].name
                                    - break;    
                        ul.app--message--conversation
                            each obj in conversation
                                mixin paras
                                    p.app--message--text= obj.text
                                    p.app--message--timestamp= obj.timePosted
                                if obj.name === ifData.userInfo.name
                                        li.app--message--me
                                            .app--avatar(style=`background-image: url(${ifData.userInfo.profileImage})`)
                                                img(src= ifData.userInfo.profileImage)
                                            +paras
                                else
                                    li.app--message
                                        .app--avatar(style=`background-image: url(${obj.profilePic})`)
                                            img(src= obj.profilePic)
                                        +paras