.grid-33
        .app--section
            ul.app--message--list
                li
                    h3
                        | Conversation with 
                        a= DMInfo[0].name
                    ul.app--message--conversation
                        mixin appMessage(i)
                            mixin paras
                                p.app--message--text= DMInfo[i].text
                                p.app--message--timestamp= DMInfo[i].timePosted

                            if DMInfo[i].id === userInfo.id
                                li.app--message--me
                                    .app--avatar(style=`background-image: url(${userInfo.profilePic})`)
                                        img(src= userInfo.profilePic)
                                    +paras
                            else
                                li.app--message
                                    .app--avatar(style=`background-image: url(${DMInfo[i].profilePic})`)
                                        img(src= DMInfo[i].profilePic)
                                    +paras

                                

                        +appMessage(0)
                        +appMessage(1)
                        +appMessage(2)
                        +appMessage(3)
                        +appMessage(4)
                        